
	body{
		margin: 0;
		padding: 0;
		color: #fff;
		background: #222;
		font-family: Source Sans Pro;
	}
	
	.skew{
		margin-top: -200px;
		padding: 200px 0;
		transform: skew(0deg,-10deg);
		background: #6d1d1d;
	}
	
	.content{
		text-align: center;
		transform: skew(0deg,10deg);
		padding-top: 50px;
	}
	
	h1{
		font-weight: lighter;
		font-size: 40px;
	}
	
	p{
		font-weight: lighter;
		font-size: 20px;
	}
	
	footer{
		padding-top: 200px;
		text-align: center;
	}